@model IEnumerable<GeekGame.Models.TblNationality>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @switch (item.Nationality)
                    {
                        case 1:
                            <span>Japanese</span>
                            break;
                        case 2:
                            <span>Chinese</span>
                            break;
                        case 3:
                            <span>Korean</span>
                            break;
                        case 4:
                            <span>Thai</span>
                            break;
                        default:
                            break;
                    }
                </td>
                <td>
                    <img src="@item.Image" alt="@item.Nationality" class="img-fluid img-thumbnail" width="200" />
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
